body{
    color: white;
}
section.home{
    background:#7678ed ;
    position: relative;
}

section.slide{
    background: #F1DEDE;
    position: relative;
}

p#brand-text{
    position: absolute;
    bottom: -1rem;
    right: 45%;
   
}


section.slide-2{
    background-color: #04a777;
    position: relative;
}

p#travel-text{
    color: white;
    position: absolute;
    right: 50%;
    bottom: -1rem;

}



section.slide-3{
    background-color: #111d4a;
    position: relative;
}


p#app-text{
    color: white;
    position: absolute;
    right: 50%;
    bottom: -1rem;

}


/* About Page Style  */

section.about-page{
    background-color: #111d4a;
    padding: 2rem;
}
ul{
    list-style: none;
   
}


.btn-secondary{
    color: #000;
    background-color: #f1DEDE;
    border-color: teal;
}

h2{
    padding: 1rem;
}






/* contact page style  */

section.contact-page{
   background-color: #7678ed;
   padding: 1rem;
   text-align: center;
   background-image:url(../img/icons/miryam-leon-Jdpvhn6xA0w-unsplash);



}


/* footer style */

div#container{
    background-color: black;
    
}

div.social-links{
    max-width: 80px;
    margin: auto;
    }

p.foot{
    color: #04a777;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

span{
    position: absolute;
    bottom: 0;
    right: 45%;
}



img {
    width: 100%;
    padding: 1.5rem;}

@media screen and  (min-width: 774px) {

div.wrap{
    display: flex;
    flex-direction: column;
}
div.section-1 {
    display: flex;
}
section.home{
    width: 70%;
}
section.slide{
    width: 30%;
}

section.slide-2{
    width: 30%;
}
section.slide-3{
    width: 70%;
}



}
    


