body{
    color: white;
}

section.home{
    background:#7678ed ;
    position: relative;
}



section.slide{
    background: #F1DEDE;
    position: relative;
}

p#brand-text{
    position: absolute;
    bottom: -1rem;
    right: 45%;
   
}


section.slide-2{
    background-color: #04a777;
    position: relative;
}

p#travel-text{
    color: white;
    position: absolute;
    right: 50%;
    bottom: -1rem;

}



section.slide-3{
    background-color: #111d4a;
    position: relative;
}


p#app-text{
    color: white;
    position: absolute;
    right: 50%;
    bottom: -1rem;

}
img.col-3.z-index-master{
    padding: 0px;
    margin: 2rem;
}
.btn-primary{
    color: white;
    background-color:  #198754;
    width: 20%;
    position: inherit;
    right: 330px;
    bottom: -140px;
    color: black;
    border-color: bisque;

}


/* About Page Style  */

section.about-page{
    background-color: #9e4770 ;
    padding: 2rem;
}
ul{
    list-style: none;
   
}


.btn-secondary{
    color: #000;
    background-color: #198754;
    border-color: teal;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #e6ebe0;
}



h2{
    padding: 1rem;
}






/* contact page style  */

section.contact-page{
   background-color: #e6ebe0;
   padding: 1rem;
   text-align: center; 
   }
   
   div.style{
       text-align: center;
       color: black;
       animation-name: divstyle;
       animation-duration: 3s;
   }

   @keyframes divstyle{ 0%{
        transform: rotate(0) translateY(-15%);
        opacity: 0;}
        }
        
        

/* resume styles  */

section.resume{
    color: black;
}

div#container{
    background-color:#e3d26f ;
    padding: 2rem;
    margin: 2rem;
}


ul.style{
    list-style: square;
}


/* footer style */

main#container{
    background-color: black;
    
}

div.social-links{
    max-width: 80px;
    margin: auto;
    }

p.foot{
    color: #04a777;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

span{
    position: absolute;
    bottom: 0;
    right: 45%;
}



img {
    width: 100%;
    padding: 1.5rem;}

@media screen and  (min-width: 774px) {

div.wrap{
    display: flex;
    flex-direction: column;
}
div.section-1 {
    display: flex;
}
section.home{
    width: 70%;
}
section.slide{
    width: 30%;
}

section.slide-2{
    width: 30%;
}
section.slide-3{
    width: 70%;
}




/* contact page style */

form#contact-form{
    display: inline-grid;
    width: 60%;
    border: none;
    outline: none;
    /* border-bottom: 1px solid black; */
    color:black;

}

.btn-primary{
    color: white;
    background-color:  #198754;
    width: 20%;
    position: inherit;
    right: 330px;
    bottom: -140px;
    color: black;
    border-color: bisque;
    border-radius: 15px;

}
.btn-primary:hover{
    background-color:#9e4770;
}

/* footer style */

div.social-links
{
    display: flex;
    justify-content: center;
    max-width: none;
}

}
  