
section.home{
    background:#7678ed ;
    position: relative;
}

section.slide{
    background: #F1DEDE;
}
section.slide-2{
    background-color: #04a777;
}

section.slide-3{
    background-color: #111d4a;
}


/* footer style */

div#container{
    background-color: black;
    margin: 1rem;
}

div.social-links{
    max-width: 80px;
    margin: auto;
  
}

p.foot{
    color: #04a777;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

span{
    position: absolute;
    bottom: 0;
    right: 45%;
}



img {
    width: 100%;
    padding: 1.5rem;}

@media screen and  (min-width: 774px) {

div.wrap{
    display: flex;
    flex-direction: column;
}
div.section-1 {
    display: flex;
}
section.home{
    width: 70%;
}
section.slide{
    width: 30%;
}

section.slide-2{
    width: 30%;
}
section.slide-3{
    width: 70%;
}



}
    


